# Recommendation - Data Preparation üé¨

---

<img src="https://cdn-images-1.medium.com/max/1200/0*ePGWILY6GyplT-nn" />

---

In the next few challenges, you will build a powerful **movie recommender**.

We will use the open-source library [LightFM](https://github.com/lyst/lightfm) which provides easy python implementation of **hybrid** recommendation engines.

In this first part, we will prepare the data in order to train efficiently of the model.

We let you load the data `movies` and `ratings` downloaded from the **small** [movielens dataset](https://grouplens.org/datasets/movielens/).

In [15]:
### TODO: Load the movies and ratings datasets
import pandas as pd

movies = pd.read_csv("ml-latest-small/movies.csv")
ratings = pd.read_csv("ml-latest-small/ratings.csv")

**Q1**. What are the different types of recommendation models? Explain briefly with your own words the differences between them.

There are three core types of recommendation models. These are:
- content-based: Recommendations are given based on the similarity between a user and the content. For example, a user may have defined interests (fishing, soccer, etc.) and a product may have associated categories (sporting gear, clothing, etc.). Recommendations of this type are given based on the similarity between the user's features and the product's features.
- rating-based: Here, recommendations are based by matching a user's interests/ratings with other similar users. The information from similar users is then extroplated to estimate the user's ratings for items they have not yet interacted with. In comparison with the content-based systems, this model may struggle with regular insertions of new information (user similarities must be constantly re-calculated) and with sparisty (what happens at the start, when no one has any interests or ratings?).
- clustering-based: This approach extends the rating-based models by clustering the information either by users or ratings. Users can then be given recommendations in alignment with the clusters. The cluster approach attempts to overcome some of the limitations introduced in the naive rating-based model such as sparsity.

**Q1bis**. What data is expected by the LightFM `fit` method? Especially, how does the train data should be organized, and what should be the type of the train dataset?

The LightFM fit method expects a sparse matrix of shape [n_users, n_items]. Each row is a user and its interactions with an item. If the user has given the item a rating, there will be a 1, and if not, there will be a 0.

**Q2**. Explore `movies` and `ratings`, what do those datasets contain? How are they organized?

In [16]:
print(movies.shape)
movies.head()

(9742, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [17]:
print(ratings.shape)
ratings.head()

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

---

###¬†Q3 & Q4 are optional
> you can come back to it if you have time after having finished the whole project of the day

We created a few utils functions for you in `utils.py` script. Especially:
- `threshold_interactions_df`:
> Limit interactions df to minimum row and column interactions

**Q3**. Open `src/utils.py` file, and have a look at the documentation of this function to understand its goal and how it works.

Have a look the code to understand fully how it works. You should be familiar with everything.

What does represent the variable `sparsity`? What is the range of values in which sparsity can be?

The sparsity variable represents the total percentage of the users which have rated items (in this case, movies).

**Q4**. Create a new DataFrame `ratings_thresh`, that filters `ratings` with only:
- users that rated strictly more than 4 movies
- movies that have been rated at least 10 times

How many users/movies remain in this new dataset?

In [18]:
from utils import threshold_interactions_df

ratings_thresh = threshold_interactions_df(ratings, 'userId', 'movieId', 5, 10)
print(len(ratings_thresh.userId.unique()),
      len(ratings_thresh.movieId.unique())
)

Starting interactions info
Number of rows: 610
Number of cols: 9724
Sparsity: 1.700%
Ending interactions info
Number of rows: 610
Number of columns: 3650
Sparsity: 4.055%
610 3650

**Q5**. In order to fit a [LightFM](https://lyst.github.io/lightfm/docs/home.html) model, we need to transform our Dataframe to a sparse matrix (cf. below). This is not straightforward so we included the function `df_to_matrix` in `utils.py`.

> üî¶ **Hint**:  Sparse matrices are just **big matrices with a lot of zeros or empty values**.
> 
> Existing tools (Pandas DataFrame, Numpy arrays for example) are not suitable for manipulating this kind of data. So we will use [Scipy sparse matrices](https://docs.scipy.org/doc/scipy-0.14.0/reference/sparse.html).
>
> It exists many different "types" of sparse matrices (CSC, CSR, COO, DIA, etc.). You don't need to know them. Just know that it corresponds to different formats with different methods of manipulation, slicing, indexing, etc.

> üî¶ **Hint 2**:  By going from a DataFrame to a sparse matrix, you will lose the information of the ids (userId and movieId), you will only deal with indices (row number and column number). Therefore, the `df_to_matrix` function also returns dictionaries mapping indexes to ids (ex: uid_to_idx mapping userId to index of the matrix) 


Have a look at the util function documentation, and use it to create 5 new variables:
- a final sparse matrix `ratings_matrix` (this will be the data used to train the model)
- the following utils mappers:
    - `uid_to_idx`
    - `idx_to_uid`
    - `mid_to_idx`
    - `idx_to_mid`

In [19]:
from utils import df_to_matrix

ratings_matrix, uid_to_idx, idx_to_uid, mid_to_idx, idx_to_mid = df_to_matrix(ratings_thresh, 'userId', 'movieId')
ratings_matrix

<610x3650 sparse matrix of type '<class 'numpy.float64'>'
	with 90274 stored elements in Compressed Sparse Row format>

**Q6**.
- On the one side, find what movies did the userId 4 rate?

- On the other side, what is the value of `ratings_matrix` for:
    - userId = 4 and movieId=1
    - userId = 4 and movieId=2
    - userId = 4 and movieId=21
    - userId = 4 and movieId=32
    - userId = 4 and movieId=126

Conclude on the values signification in `ratings_matrix`

In [20]:
ratings[ratings.userId == 4]

     userId  movieId  rating   timestamp
300       4       21     3.0   986935199
301       4       32     2.0   945173447
302       4       45     3.0   986935047
303       4       47     2.0   945173425
304       4       52     3.0   964622786
..      ...      ...     ...         ...
511       4     4765     5.0  1007569445
512       4     4881     3.0  1007569445
513       4     4896     4.0  1007574532
514       4     4902     4.0  1007569465
515       4     4967     5.0  1007569424

[216 rows x 4 columns]

In [21]:
for mid in [1, 2, 21, 32, 126]:
    print(f"For MID {mid} and UID 4 the value of ratings_matrix was {ratings_matrix[uid_to_idx[4], mid_to_idx[mid]]}")

For MID 1 and UID 4 the value of ratings_matrix was 0.0
For MID 2 and UID 4 the value of ratings_matrix was 0.0
For MID 21 and UID 4 the value of ratings_matrix was 1.0
For MID 32 and UID 4 the value of ratings_matrix was 1.0
For MID 126 and UID 4 the value of ratings_matrix was 1.0

**Q5**. Now that you have a `ratings_matrix` in the correct format, let's save it in pickle format:
- Create a variable `dst_dir` corresponding to the path of the folder `data/netflix` located at the root of the repository
- **Verify that this is the correct path**
- Save the ratings_matrix in pickle (as `ratings_matrix.pkl`) in this corresponding directory

In [22]:
directory = "./data"
import pickle

In [23]:
pickle.dump(ratings_matrix, open(directory + '/ratings_matrix.pkl', "wb"))

**Q6**. Save also all mappings objects into pickle (`idx_to_mid`, `mid_to_idx`, `uid_to_idx`, `idx_to_uid`) as it will be useful for later.

In [24]:
pickle.dump(idx_to_mid, open(directory + '/idx_to_mid.pkl', "wb"))
pickle.dump(mid_to_idx, open(directory + '/mid_to_idx.pkl', "wb"))
pickle.dump(uid_to_idx, open(directory + '/uid_to_idx.pkl', "wb"))
pickle.dump(idx_to_uid, open(directory + '/idx_to_uid.pkl', "wb"))

In [25]:
pickle.dump(movies, open(directory + '/movies.pkl', "wb"))

Up to next challenge now! üçø